#header-nav {
  background-color: gray;
  border: 0px;
  border-radius: 0px;
}
.nav-item {
  background-color: white;
  border: 1px solid black;
  text-align: center;
}
@media (min-width: 1024px) {
  #nav-list {
    visibility: hidden;
  }
}
.navbar-brand h1 {
  color: white;
  font-size: 5vw;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
.navbar-collapse {
  flex-grow: 0;
}
#nav-list {
  margin-top: 10px;
  vertical-align: right;
}
#heading {
  text-align: center;
  font-size: 3em;
}
#chicken {
  background-color: gray;
}
#chick {
  text-align: center;
}
